body {
	background: black;
}

.contact-map{
	margin-top: 100px;
	margin-bottom: 100px;
}

.menu{
	margin-top: 100px;
	margin-bottom: 100px;
}

nav{

  background: black;
  opacity: .8;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: right;
  text-decoration: none;
}
ul,nav{
  list-style-type: none;
}

.reservation{
  margin-bottom: 100px;
}