body {
  background: url(../img/stressed_linen/stressed_linen.png);

}

.contact-map{
  margin-top: 50px;
	margin-bottom: 100px;
  opacity: 75%;
  border-radius: 10px 10px;
}

.menu{
	margin-top: 100px;
	margin-bottom: 100px;
  border-radius: 10px 10px;
}


a{
  color: red;
}
a:hover{
  color: yellow;
}
nav{
  background: black;
  opacity: .8;
  position: fixed;
  top: 0;
  width: 100%;
  text-decoration: none;
  margin-top: 75px;
  border-radius: 10px 10px;
  text-align: left;
  padding-right: 200px;
}
ul,nav{
  list-style-type: none;
}

.reservation{
  margin-bottom: 100px;
  opacity: 75%;
  border-radius: 10px 10px;
}

.column,
{
background: black;
color: white;
}

.dropdown,
label{
  color: red;
}
img,
header{
   border-radius: 10px 10px;
}

h2{
  margin-left: 20px;
}
em{
  margin-left: 10px;
}

.yellow-plate:hover{
  color: yellow;
}
.blue-plate:hover{
  color: lightblue;
}
.red-plate:hover{
  color: red;
}
.green-plate:hover{
  color: green;
}
