body {
  background: url(../img/sakura.jpg) no-repeat;
}

.contact-map{
	margin-top: 50px;
	margin-bottom: 100px;
  opacity: 75%;
}

.menu{
	margin-top: 100px;
	margin-bottom: 100px;
  opacity: 75%;
}

nav{
  color: red;
  background: black;
  opacity: .8;
  position: fixed;
  top: 0;
  width: 100%;
  float: left;
  text-decoration: none;
  margin-top: 75px;
}
ul,nav{
  list-style-type: none;
}

.reservation{
  margin-bottom: 100px;
  opacity: 75%;
}

.column,
{
background: black;
color: white;
}